h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    @apply font-bold leading-tight font-display;

    a {
        position: relative;
        transition: color .2s ease-in-out;

        &:before {
            @apply bg-orange-500;
            content: '';
            display: block;
            height: 50%;
            width: calc(100% + .5rem);
            z-index: -1;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%,0,0);
            transition: height .2s cubic-bezier(.8, 0.000, 0.000, 1), width .2s ease-in-out;
        }

        &:hover,
        &:focus {
            color: color('white');

            &:before {
                height: 100%;
                width: calc(100% + 1rem);
            }
        }
    }
}
    
h1, .h1 {
    @include resp-font-size('4xl','5xl','6xl','6xl', '7xl');
}

h2,.h2 {
    @include resp-font-size('2xl','2xl','3xl','4xl','5xl');
}

h3,.h3 {
    @include resp-font-size('2xl','2xl','3xl','3xl','4xl');
}

h4,.h4 {
    @include resp-font-size('lg','lg','xl','2xl','3xl');
}

h5,.h5 {
    @include resp-font-size('base','lg','lg','xl','xl');
}

h6,.h6 {
    @include resp-font-size('base','base','base','base','lg');
}