h1,.h1 {
    @apply leading-tight text-4xl font-display;

    @screen sm {
        @apply text-6xl;
    }

    @screen xl {
        @apply text-7xl;
    }
}

h2,.h2 {
    @apply leading-none text-3xl font-display;

    @screen sm {
        @apply text-4xl leading-tight;
    }

    @screen lg {
        @apply text-5xl;
    }

    @screen xl {
        @apply text-6xl;
    }
}

h3,.h3 {
    @apply leading-tight text-2xl font-display;

    @screen md {
        @apply text-3xl;
    }

    @screen lg {
        @apply text-4xl;
    }

    @screen xl {
        @apply text-5xl;
    }
}

h4,.h4 {
    @apply font-bold leading-relaxed text-lg font-display;

    @screen md {
        @apply text-xl;
    }

    @screen lg {
        @apply text-2xl;
    }
}

h5,.h5 {
    @apply font-bold leading-none text-lg;

    @screen lg {
        @apply text-xl;
    }
}

h6,.h6 {
    @apply font-black leading-none text-base;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
    a {
        position: relative;
        transition: color .2s ease-in-out;

        &:before {
            @apply bg-orange-500;
            content: '';
            display: block;
            height: 50%;
            width: calc(100% + .5rem);
            z-index: -1;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%,0,0);
            transition: height .2s cubic-bezier(.8, 0.000, 0.000, 1), width .2s ease-in-out;
        }

        &:hover,
        &:focus {
            color: color('white');

            &:before {
                height: 100%;
                width: calc(100% + 1rem);
            }
        }
    }
}