.btn {
    @apply leading-tight text-2xl font-display;
    appearance: none;
    display: inline-block;
    position: relative;
    transition: color .2s ease-in-out;

    @screen md {
        @apply text-3xl;
    }

    @screen lg {
        @apply text-4xl;
    }

    &:before {
        content: '';
        display: block;
        height: 50%;
        width: calc(100% + .5rem);
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%,.2rem,0);
        transition: height .2s ease-in-out, width .2s ease-in-out;
    }

    &:hover,
    &:focus {
        &:before {
            height: calc(100% + .2rem);
            width: calc(100% + 1rem);
        }
    }

    &--secondary {
        &:before {
            @apply bg-orange-500;
        }

        &:hover,
        &:focus {
            @apply text-white;
        }
    }

    &--stfc {
        &:before {
            @apply bg-stfc;
        }
    }

    &--mamacodes {
        &:before {
            @apply bg-yellow-500;
        }
    }
}